# aliases
alias sudo='doas'
alias ls='exa --icons -l -T -L=1'
alias grep='rg'
alias cat='bat'
alias htop='btm'
alias fd='fd -Lu'
alias w3m='w3m -no-cookie -v'
alias paclist='echo ":: Overwriting backup pacman .packagelist file" && pacman -Qqen > ~/.packagelist && echo ":: Overwriting backup AUR .aurpackagelist file" && pacman -Qqem > ~/.aurpackagelist && echo ":: Overwriting backup pip .pippackagelist file" && pip list --user --format freeze | cut -d '=' -f 1 > ~/.pippackagelist && echo "REMINDER TO MANUALLY UPDATE ~/.stackpackagelist"'
alias config='/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
